/* we command frame key */

h1
{
color-adjust: green;
background-color: black,blue;
tab-size: 10;
-ms-scroll-limit-x-max: 1;
fill: (12, 23, 12, 12, 90, 0.0.1.2.2.2.3.4.9);
}
/* need formal ds *44/d */
h2
{
    column-rule-color: black,blue antiquewhite,greenyellow ,lime;
}
